* {
    font-family: Monaco;
    scroll-behavior: smooth;
    background-color: #FF9671; 
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    
}

/* /////////////////////styling for Top section ///////////////////// */
.container1 {
    color: #fff;
    font-size: large;
    background-color: #FF9671;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    gap: 20%;
    

}

.container1 img {
    position: relative;
    left: 25px;
    top: 25px;
}

header h1, nav, ul {
    width: fit-content;
    background-color: #FF9671;
    
}

h1 {
    position: relative;
    align-self: baseline;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    display: inline;                
    
 
}

.top {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    background-color: #FF9671;
    

}

.top:hover {
    background-color: #F9F871;
    color: #D65DB1;
    border-radius: 15px;
}
/* end styling for header  /////////////////////*/

/* /////////////////////styling for About Me section ///////////////////// */

.container2 {
    display: flex;
    flex-direction: column;
    border-style: solid;
    
    
}

.container2 header {
    width: max-width 30px;
    margin: auto;
    float: left;
    padding: 30px;
    align-items: center;
    border-style: solid;
}


    


/* /////////////////////styling for Work section ///////////////////// */

.container3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    color: black;
    
    border-style: solid;
    width: 100%;
    
}

.container3 header {
    display: flex;
    flex-wrap: wrap;
    width: max-width 30px;
    margin: auto;
    padding: 30px;
    border-style: solid;

}

.container3 a {
    border-style: solid;
    width: 100%;
    text-decoration: none;
    position: relative;

}

.container3 a img {
    display: flex;
    width: 100%;
    flex: 2 1 1;
    
   
   
}

.container3 div {
    display: flex;
    flex-wrap: wrap;
}



/* /////////////////////styling for Contact Me section ///////////////////// */

.container4 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-height: 30vh;
    border-style: solid;
    

   

}


@media screen and (max-width: 768px) {
    .container1{
        display: flex;
        flex-flow: column wrap;
    }
    .container1 li {
        display: block;
    }
}