* {
    font-family: Monaco;
    scroll-behavior: smooth;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* styling for top of page //////////////////// */
.container1 {
    color: #fff;
    font-size: large;
    background-color: #FFC75F;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    

}

header h1, nav, ul {
    width: fit-content;
    background-color: #FFC75F;
}


li {
    display: inline;                
    
 
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    background-color: #FFC75F;

}

a:hover {
    background-color: #F9F871;
    color: #D65DB1;
    border-radius: 15px;
}
/* end styling for header  /////////////////////*/

/* styling for about me section //////////////// */

.container2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;

}


.chapter3 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}

.chapter3 div {
    padding-left: 30px;
    padding-right: 30px;
}

.titles {
    height: 100px;
    width: 100px;
    background-color: aqua;
}


section, footer {
    background-color: #FF9671;
}