* {
    font-family: Monaco;
    scroll-behavior: smooth;
    background-color: #FF9671; 
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

/* /////////////////////styling for Top section ///////////////////// */
.siteHeader  {
    color: #fff;
    font-size: large;
    background-color: #FF9671;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    gap: 20%;
    

}

.siteHeader  img {
    position: relative;
    left: 25px;
    top: 25px;
}

header h1, nav, ul {
    width: fit-content;
    background-color: #FF9671;
    
}

h1 {
    position: relative;
    align-self: baseline;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    display: inline;                
    
 
}

.top {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    background-color: #FF9671;
    

}

.top:hover {
    background-color: #F9F871;
    color: #D65DB1;
    border-radius: 15px;
}
/* end styling for header  /////////////////////*/

/* /////////////////////styling for About Me section ///////////////////// */

.aboutMe {
    display: flex;
    flex-direction: column;
    border-style: solid;
    
    
}

.aboutMe header {
    width: max-width 30px;
    margin: auto;
    float: left;
    padding: 30px;
    align-items: center;
    border-style: solid;
}


    


/* /////////////////////styling for Work section ///////////////////// */

.classProjects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    color: black;
    
    border-style: solid;
    width: 100%;
    
}

.classProjects header {
    display: flex;
    flex-wrap: wrap;
    width: max-width 30px;
    margin: auto;
    padding: 30px;
    border-style: solid;

}

.classProjects a {
    border-style: solid;
    width: 100%;
    text-decoration: none;
    position: relative;

}

.classProjects a img {
    /* display: flex; */
    max-width: 100%;
    /* flex: 2 1 1; */
    
   
   
}

.classProjects div {
    display: flex;
    flex-wrap: wrap;
}



/* /////////////////////styling for Contact Me section ///////////////////// */

.contactMe {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-height: 30vh;
    border-style: solid;
    

   

}


@media screen and (max-width: 768px) {
    .siteHeader {
        display: flex;
        flex-flow: column wrap;
    }
    .siteHeader  li {
        display: block;
    }
}

.card {
   flex: 0 0 auto;
    
}

#stuff {
    display: flex;
}

#specialOne {
    flex:1 0 auto;
}